
<section class="sign_in_section">
    <h2>Sign in</h2>
    <form action="/sessions" method="POST">
        <div>
            <label for="Email">Email: </label>
            <input type="email" name='email'> 
            <label for="Password">Password: </label>
            <input type="password" name='password'>
        </div>
        <div class="buttons">
            <a href="/sign_up">Create Account</a>
            <button>Sign in</button>
        </div>
        <%= message %>    
    </form>
</section>