
<h2>Sign up page</h2>

<form action="/users" method="POST">
    <label for="First Name">First Name: </label>
    <input type="text" name='first_name'>
    <label for="Last Name">Last Name: </label>
    <input type="text" name='last_name'>
    <label for="Email">Email: </label>
    <input type="email" name='email'> 
    <label for="Password">Password: </label>
    <input type="password" name='password'>
    <button>Sign up</button>
    
</form>